<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="411222045_DERI NASRUDIN"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shopku"
        tools:targetApi="31">
        <activity
            android:name=".product.ProductDetail"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".profil.AccountActivity"
            android:exported="false" />
        <activity android:name=".profil.Profil"/>
        <activity
            android:name=".cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".payment.PaymentActivity"
            android:exported="false" />
        <activity android:name=".message.Pesan" />
        <activity android:name=".product.katpakaian.KatPakaian"/>
        <activity android:name=".product.katmainan.KatMainan"/>
        <activity android:name=".product.katolahraga.KatOlahraga"/>
        <activity android:name=".product.katrumah.KatRumah"/>
    </application>

</manifest>